<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalproject.coordi.admin.mapper.AdminMapper">

    <select id="selectTagTypes" resultType="java.lang.String">
        SELECT DISTINCT type
        FROM tag
        ORDER BY FIELD(type, 'TPO', 'STYLE', 'SEASON', 'SLOT', 'FIT', 'MATERIAL', 'COLOR');
    </select>

    <select id="selectTagsByType" resultType="com.finalproject.coordi.admin.dto.TagDto">
        SELECT
            tag_id as tagId,
            type,
            name
        FROM
            tag
        WHERE
            type = #{type}
        ORDER BY
            name;
    </select>

    <insert id="insertTag" parameterType="com.finalproject.coordi.admin.dto.TagDto" useGeneratedKeys="true" keyProperty="tagId">
        INSERT INTO tag (type, name)
        VALUES (#{type}, #{name})
    </insert>

    <update id="updateTag">
        UPDATE tag
        SET name = #{name}
        WHERE tag_id = #{tagId}
    </update>

    <delete id="deleteTag" parameterType="long">
        DELETE FROM tag
        WHERE tag_id = #{tagId}
    </delete>

</mapper>
