<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{layout/common :: configFragment}"></th:block>
    <title>Sentry Test</title>
  </head>
  <body>
    <!-- Header -->
    <div th:replace="~{layout/common :: headerFragment}"></div>

    <!-- Main Content -->
    <main class="main-content">
      <h1>Sentry Test Page</h1>
      <p>Click the button below to trigger a test exception for the backend.</p>
      <button onclick="location.href = '/sentry-test-error'">
        Trigger Backend Sentry Exception
      </button>
      <br /><br />
      <p>Click this button to trigger a frontend JavaScript error.</p>
      <button onclick="throw new Error('Frontend Sentry Test Error!');">
        Trigger Frontend Sentry Exception
      </button>
      <button onclick="location.href = '/adminmanage'">admin</button>
      <br /><br />
    </main>

    <!-- Footer -->
    <footer th:replace="~{layout/common :: footerFragment}"></footer>
  </body>
</html>
